@font-face {
  font-family: 'phenomenaregular';
  src: url('./phenomena/phenomena-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.App {
  margin: auto;
  width: 70%;
  text-align: left;
  margin-top: 10%;
}

#linkCadastro{
  color: white;
  font-family: "phenomenaregular";
  font-size: 20px;
  margin: 0%;
}

p{
  color: black;
  margin: 0%;
  font-family: "phenomenaregular";
}

h2{
  color: white;
  font-family: "phenomenaregular";
  margin: 0%;
}


/* h2 {
  text-align: center;
  font-size: 500%;
  font-weight: 300;
  color: rgba(0,100,0);
  letter-spacing: -1px;
  margin-bottom: 1rem;
  background: -webkit-linear-gradient( left, rgb(124,252,0) 50%,  rgb(0,128,128) 100%);
  background: linear-gradient( to right, rgb(124,252,0) 50%, rgb(0,128,128)  100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.btn-estagia{
  border-radius: 3px;
  background-image: -moz-linear-gradient( 122deg, rgb(0,128,128) 0%, rgb(124,252,0) 100%);
  background-image: -webkit-linear-gradient( 122deg, rgb(0,128,128) 0%, rgb(124,252,0) 100%);
  background-image: -ms-linear-gradient( 122deg, rgb(0,128,128) 0%, rgb(124,252,0) 100%);
  background-image: linear-gradient( 122deg, rgb(0,128,128) 0%, rgb(124,252,0) 100%);
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  color: #fff;
  padding: 0.6rem 2rem;
  border: 0;
}
.btn-list{
  border-radius: 3px;
  background-image: -moz-linear-gradient( 122deg, rgb(124,252,0) 0%, rgb(0,128,128) 100%);
  background-image: -webkit-linear-gradient( 122deg, rgb(124,252,0) 0%, rgb(0,128,128) 100%);
  background-image: -ms-linear-gradient( 122deg, rgb(124,252,0) 0%, rgb(0,128,128) 100%);
  background-image: linear-gradient( 122deg, rgb(124,252,0) 0%, rgb(0,128,128) 100%);
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  color: #fff;
  border: 0;
}
.btn-danger-list{
  border-radius: 3px;
  background-image: -moz-linear-gradient( 122deg, rgb(252, 0, 0) 0%, rgb(128, 0, 75) 100%);
  background-image: -webkit-linear-gradient( 122deg, rgb(252, 0, 0) 0%, rgb(128, 0, 75) 00%);
  background-image: -ms-linear-gradient( 122deg, rgb(252, 0, 0) 0%, rgb(128, 0, 75) 100%);
  background-image: linear-gradient( 122deg, rgb(252, 0, 0) 0%, rgb(128, 0, 75) 100%);
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  color: #fff;
  border: 0;
}

.ligth-g{
  background-color: #f4fcf6;
}

.ligth-b{
  background-color: rgb(172, 214, 226);
}

.sombra{
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.30);
  -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.30);
  box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, .30);
}

#btnRemover{
  margin-right: 2%
}

pre{
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify
}

.span{
  white-space: pre-wrap;
  word-break: break-word
}

.text-descricao{
  overflow: auto;
  max-height: 20vh;
}

.card{
  border: none;
  padding: 0%;
}

.itemLista{
  padding: 1%;
}

.navlink{
  text-align: right;
}

.navBar{
  background-color: rgb(0,128,128);
  background: -moz-linear-gradient(135deg, rgb(0,128,128) 0%, rgb(124,252,0) 100%);
  background: -webkit-linear-gradient(135deg, rgb(0,128,128) 0%, rgb(124,252,0)  100%);
  background: linear-gradient(135deg, rgb(0,128,128) 0%, rgb(124,252,0)  100%);
  -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.30);
  -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.30);
  box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.30);
  border-radius: 10px 10px 0px 0px;
  padding: 2%;
}

.bordaJumbotron{
  border-radius: 10px 10px 0px 0px;
}

.jumbo{
  margin: 3%;
  padding: 2%;
}

